{{ form_start(form) }}
    <div class="form-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.submitter) }}
        </div>
        <div class="col">
            {{ form_row(form.email) }}
        </div>
        <div class="col">
            {{ form_row(form.avatar) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.subject) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.body) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.urgency) }}
        </div>
    </div>
    <div class="row">
        {{ form_end(form) }}
    </div>
