<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {% if title is defined %}
                    {{ title }}
                {% else %}
                    Urgent Matter
                {% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
        {% block nav %}{% endblock %}
        {% block banner %}{% endblock %}

        {% if not disable_flash_msgs is defined or disable_flash_msgs == false %}
            {# Flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block body %}{% endblock %}
    </body>
</html>
